body {
    background-image: url('..img/jason-beard-cap.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

h1 {
    font-size: 5em;
    font-family: cursive;
}

h1,
h2 {
    margin-left: 25px;
    color: pink;
}

img {
    border: 7px solid salmon;
}

.med-screen-text {
    display: none;
}

.lg-screen-text {
    display: none;
}

.overlay {
    position: absolute;
    background-color: blue;
    opacity: 0.5;
    height: 100vh;
}

ul {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    color: white;
    list-style: georgian;
}

@media (min-width: 400px) {
    body {
        background-image: url('../img/cap-up-nostil.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        height: 100vh;
    }
    h1,
    h2 {
        color: blue;
    }
    .overlay {
        position: absolute;
        background-color: green;
        opacity: 0.5;
        height: 100vh;
    }
}

#mobile-menu {
    float: right;
    display: grid;
    height: 100vh;
    width: 200px;
    background-color: red;
}

@media (min-width:769px) {
    body {
        background-image: url('../img/screaming-jnutt.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        height: 100vh;
    }
    .overlay {
        background-color: red;
        opacity: 0.4;
        height: 100vh;
    }
    h1 {
        font-family: fantasy;
    }
    .med-screen-text {
        display: grid;
        justify-content: center;
        align-items: center;
        font-family: monospace;
    }
    .sm-screen-text {
        display: none;
    }
    .lg-screen-text {
        display: none;
    }
}

@media (min-width: 1024px) {
    body {
        background-image: url('../img/pexels-max-andrey-sky-bg.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        height: 100vh;
    }
    .overlay {
        background-color: purple;
        opacity: 0.5;
        height: 100vh;
        color: black;
    }
    .lg-screen-text {
        display: grid;
    }
    .sm-screen-text {
        display: none;
    }
    .med-screen-text {
        display: none;
    }
}